mixin table(entityName, cols, rows)
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white&attributes(attributes)
      thead
        tr
          each col in cols
            th.py-3= t(`entityFields.${col}`)
          th.py-3= t('layouts.tableFields.actions')
      tbody
        each row in rows
          tr
            each col in cols
              case col
                when 'fullName'
                  td= row[col]()
                when 'status'
                  td= row[col].name
                when 'creator'
                when 'executor'
                  td= !!row[col] ? row[col].fullName() : ''
                when 'createdAt'
                  td= formatDate(row[col])
                when 'name'
                  if entityName === 'task'
                    td
                      a.text-decoration-none(href= route('task', { id: row.id }))= row.name
                  else
                    td= row[col]
                default
                  td= row[col]
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href= route(`edit${_.capitalize(entityName)}`, { id: row.id }))= t('layouts.buttons.change')
                form(action= route(entityName, { id: row.id }) method='post')
                  +actionButton('delete')(class='btn btn-danger' value= t('layouts.buttons.delete'))
